body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4e9;
    margin: 0;
    padding: 0;
}

header {
    background-color: crimson;
    color: white;
    padding:  0;
    text-align: center;
}

main {
    margin: 20px;
}

.event {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.event h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.event p {
    margin: 0;
}